/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
html, body {
  width: 100%;
  height: 100%;
}
/* Align-items - Y , Justify-content - X */
div{
  width: 800px;
  font-size: 100px;
  background-color: red;
  line-height:75px;
  letter-spacing: -3px;
}